@use '../../scss/' as *;

.catalog {
  width: 100%;
  .catalog-container {
    width: 100%;
    padding: 0 var(--margin-left);
    // background-color: lightblue;
    .catalog-main {
      margin-top: 30px;
      &-container {
        @include flex(initial, initial);
        // background-color: lightpink;
        .catalog-main-grid {
          margin-left: 20px;
          @include small {
            margin-left: 0;
          }
          flex: 1;
          min-height: 100%;
          // background-color: lightblue;
        }
      }
    }
  }
}
