@use '../../scss' as *;

.about {
  width: 100%;
  margin-top: 30px;
  padding: 0 13%;
  padding-bottom: 30px;
  @include big {
    padding: 0 8%;
  }
  @include medium {
    padding: 0 5%;
  }
  @include small {
    padding: 0 5%;
  }
  .about-container {
    border-top: 0.5px solid gray;
    position: relative;
    width: 100%;
    .about-title {
      padding-top: 30px;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 10px;
      letter-spacing: 0.3px;
    }
    .about-content {
      width: 100%;
      word-wrap: break-word;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 0.1px;
      line-height: 20px;
    }
    .about-toggle {
      font-size: 13px;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
