@use '../../scss/' as *;

.catalog-list {
  width: 100%;
  margin-top: 60px;
  &-container {
    width: 100%;
    @include flex(initial, initial);
    gap: 1vw;
    .catalist-item {
      flex: 1;
      position: relative;
      img {
        display: block;
        width: 100%;
      }
      span {
        display: block;
        position: absolute;
        left: 50%;
        bottom: 30px;
        color: black;
        font-size: 12px;
        padding: 5px 15px;
        background-color: white;
        transform: translate(-50%, -50%);
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
