@use '../scss/' as *;

.main {
  padding-top: 30px;
  width: 100%;
  background-color: $body-background;
  min-height: 200vh;
  @include small {
    padding-top: 0;
  }
}

body.header-shrink {
  .main {
    padding-top: 130px;
    @include medium {
      padding-top: 131px;
    }
    @include mobile {
      padding-top: 60px;
    }
  }
}
