@use '../../scss/' as *;

.header-menu-container {
  width: 100%;
  &__inner {
    .header-menu-close {
      display: none;
    }
    .header-menu {
      @include flex(center, flex-start);
      position: relative;
      width: 100%;
      // background: lightcoral;
      &-item-sign {
        display: none;
      }
      &-item {
        &.location-item {
          display: none;
        }
        margin-right: 15px;
        &:hover {
          border-bottom: 1.5px solid crimson;
        }
        &__toggle {
          padding: 10px;
          font-size: $font-size;
          cursor: pointer;
          a {
            color: black;
          }
          &__icon {
            display: none;
          }
        }
        &__content {
          background: white;
          @include flex(initial, initial);
          border: 0.5px solid lightgray;
          width: max-content;
          height: max-content;
          position: absolute;
          top: 100%;
          left: 0;
          &__heading {
            display: none;
          }
          &__subcontent {
            padding: 15px;
            border-right: 0.5px solid lightgray;
            &:last-child {
              border-right: 0;
            }
            &__title {
              .subcontent-toggle {
                display: none;
              }
              .subcontent-open {
                display: none;
              }
              font-size: $font-size;
              margin-bottom: 10px;
              .item-title-text {
                display: none;
              }
            }
            &__list {
              width: 15vw;
              @include flex(center, flex-start);
              list-style: none;
              flex-wrap: wrap;
              &__item {
                cursor: pointer;
                width: 100%;
                font-size: $font-size;
                margin: 5px 10% 5px 0;
                img {
                  width: 100%;
                }
                span {
                  display: block;
                  text-decoration: underline;
                  margin: 10px 0;
                }
                &:hover {
                  color: crimson;
                  text-decoration: underline;
                }
              }
              &.main-content {
                width: 30vw;
                & > * {
                  white-space: nowrap;
                  width: 40%;
                  font-size: 13px;
                }
              }
            }
          }
          display: none;
          transition: transform linear 0.5s;
          transition: opacity ease-in-out 0.5s;
          &.active {
            display: flex;
          }
        }
        &:nth-last-child(2) {
          .header-menu-item__content {
            &.active {
              left: auto;
              right: 0;
            }
          }
        }
      }
    }
  }
}
