@use './scss/' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

:root {
  --margin-right: 10vw;
  --margin-left: 10vw;
  --margin-right-big: 3vw;
  --margin-left-big: 3vw;
  --grid-template-columns: repeat(4, minmax(80px, 1fr));
  --grid-template-columns-medium: repeat(3, minmax(80px, 1fr));
  --grid-template-columns-small: repeat(2, minmax(80px, 1fr));
  @include big {
    --margin-right: var(--margin-right-big);
    --margin-left: var(--margin-left-big);
  }
  @include medium {
    --grid-template-columns: var(--grid-template-columns-medium);
  }
  @include small {
    --grid-template-columns: var(--grid-template-columns-small);
  }
}

html,
body {
  overflow-x: hidden;
  min-height: 100vh;
}

.prevent-body-scroll-y {
  overflow-y: auto;
}
