@use '../../scss/' as *;

.hero-collection {
  &-container {
    position: relative;
    width: 100%;
    &__poster {
      * {
        width: 100%;
      }
    }
    .button {
      position: absolute;
      left: 50%;
      bottom: 30px;
      padding: 6px 15px;
      letter-spacing: 1px;
      background-color: white;
      font-size: 12px;
      transform: translateX(-50%);
      color: black;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
